@font-face {
    src: url('./fonts/YesevaOne-Regular.ttf');
    font-family: "YesevaOne Regular";
  }
  @font-face {
    src: url('./fonts/NunitoSans-Bold.ttf');
    font-family: "NunitoSans Bold";
  }
  @font-face {
    src: url('./fonts/NunitoSans-Italic.ttf');
    font-family: "NunitoSans Italic";
  }
  @font-face {
    src: url('./fonts/NunitoSans-Light.ttf');
    font-family: "NunitoSans Light";
  }
  
  .body {
    margin: 0;
    font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
  }
  
  .body * {
    box-sizing: border-box;
  }
  .container {
    max-width: 1238px;
    margin: 0 auto;
  }

  .button {
   background: #E3B873;
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
   border-radius: 2px;
   outline: 0;
   border: 0;
   padding: 13px 33px;
   color: white;
   text-transform: uppercase;
  }

  .button__2 {
   background: #E3B873;
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
   border-radius: 2px;
   border-color: #E3B873;
   padding: 19px 42px 20.65px 41px;
   color: white; 
   position: relative;
   font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
  }
  
  .button__3 {
  margin-left: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 19px 23px 20.57px 22px;
  background-color: ;
  color: white; 
  background: transparent;
  position: relative;
  font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
  }
  
  .button31 {
    display: none;
    margin: 0px;
    position: relative;
    top: 26px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 19px 23px 20.57px 22px;
    background-color: ;
    color: white; 
    background: transparent;
    position: relative;
    font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
  }

   .logo {
   font-family: 'Nunito Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-transform: uppercase;
   color: #E3B873;
   }

  
   .strong {
   color: #E3B873 ;
   }
  
  .header {
   margin: -8px;
   background-color: black;
   font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
   }
  
   .header-content {
   display: flex;
   justify-content: space-between;
   min-height: 83px;
   align-items: center;
   }
  .header-navigation {
  display: flex;
  list-style: none;
  font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
  }

  .number a {
  display: flex;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: white;
}

  .header-navigation__item {
  margin-right: 47px;   
  }
  
  .header-navigation__item a {
  text-decoration: none;
  color: white;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #FFFFFF;
  }
  
  .header-conteiner {
  display: flex;
  justify-content: flex-end;
  min-height: 107px;
  align-items: start;
  }
  
  .hero {
  margin: -8px;
  background-image: url(./img/hero.jpg);
  background-size: cover;
  min-height: 707px;
  padding-top: 194px;
  position: relative;
  }
  
  .hero-overlay {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  }
  
  .hero-container {
  position: relative;
  z-index: 1;
  }

  .bobo {
    display: flex;
    justify-content: space-around;
   
  }

  .title {
  margin: 0;
  font-family: "YesevaOne Regular", Georgia, 'Times New Roman', Times, serif, serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  }
    
   .title__2 {
    font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    }

    .teksta {
    min-width: 492px;
    }

    .title__3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;      
    }
    .only {
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 27px;
     color: #FFFFFF;
    }

    .title__4 {
        
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    }

    .rep {
    position: relative;
    right: 52px;
    }

    .lcd {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    }

    .chair {
    margin: -8px;
    min-height: 1074px;
    background-color: black;
    }
    .chair-container {
    position: relative;
    top: 107px;

    }
    .navchair {
    display: flex;
     justify-content: end;
    }

    .kok {
    max-width: 492px;
    }
    
    .city {
    display: flex;
    justify-content: space-between;
    }

    .apa {
    display: flex;
    justify-content: space-between;
    }

    .rostov-navigation {
    display: flex;
    }
    
    .rostov-navigation__item {
     margin-right: 60.5px;
    }
    
    .rostov-navigation__item a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Yeseva One';
    }
    
    .rostov-navigation__item__3 a {
    margin-right: 60.5px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    }

    .photochair {
    position: absolute;
    top: 81px;
    }

    .online {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    }

    .man-container {
     position: relative;
     bottom: 300px;
     display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .man_1 {
    position: relative;
    top: 28px;
    }

    .triangle {
      position: relative;
      bottom: 124px;
    }

    .hr {
    position: relative;
    bottom: 85px;
    }

    .form{
        padding: 0 80px 55px 28px;
    }

    .forms {
    display: flex;
    justify-content: space-evenly;
    
      }
     
    .agree {
    display: flex;
    justify-content: center;
     position: relative;
    top: 148px;
    }
    
    .buttonbut {
     position: relative;
     bottom: 13px;
     background: #E3B873;
     box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
     border-radius: 2px;
     border-color: #E3B873;
     padding: 20px 75px 20.65px 76px;
     color: white;
     position: relative;
     font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
}
    
    .vit {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    }
    
    .tink {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding: 0px 0px 8px 0;
    }
    
    .checkbox{
     display: none;
    }
    .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    }

    .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
    }

    .checkbox:checked + .fake::before{
      opacity: 1;
    }

    .at {
    position: relative;
    bottom: 54px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
   }
      
      
      
    .wall {
    position: relative;
    bottom: 150px;
    }

    .wall-container {
      position: relative;
      bottom: 100px;
  
    }

    .photki {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    }
    
    .types {
  
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    }
      
    .hammer {
    display: flex;
    justify-content: center;
    }

    .grey {
    min-width: 330px;
    min-height: 286px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    }
      
    .list_item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    }
    .redecorating {
    position: relative;
    top: 13px;
    left: 34px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    }
       
    .button_5 {
    min-width: 228px;
    min-height: 54px;
    border-color: #E3B873;
    font-family: 'Yeseva One';
    font-style: normal;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    color: #FFFFFF;
    }

    .vim {
    display: flex;
    justify-content: space-between;
     margin-top: -127px;
    position: relative;
    left: 31px;
     }

    .forms_2 {
    display: flex;
    justify-content: end;
    }
         
   .windows {
    display: flex;
    min-width: 1440px;
    min-height: 612px;
         
    }
   .windows_1 {
    width: 500px;
    height: 645px;
    background-image: url(./img/ladder.svg);
    }
   
   .i {
    display: flex;
    position: relative;
    top: 50px;
   }

   .a {
    display: flex;
    position: relative;
    top: 100px;
   }
.momo {
  position: relative;
    left: 229px;
    top: 200px;
}

.e {
  display: flex;
  position: relative;
    top: 150px;
}
   .windows_2 {
  width: 506px;
  height: 509px;
  }
  .o {
    display: flex;
    align-items: center;
  }
       
  .our {
  position: relative;
  left: 200px;
  display:flex;
  flex-wrap: wrap;
  align-content: space-between;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #363636;
  }
       
   .ladder {
   list-style: none;
   position: relative;
   top: 102px
   }
      
         
  .measure-item_circle {
  width: 45.76px;
  height: 44.76px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #FFFFFF;
  border-radius: 30px;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  color: #FFFFFF;
  font-family: 'Yeseva One', Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  }
         
  .measure-item_text {
    position: relative;
    top: 10px;
   margin: 0px 0px 0px 9.05px;
   color: #363636;
   font-size: 14px;
   line-height: 19px;
  }
    

  .xoxo {
  display: flex;
  align-items: center;
   }

  .buttonbutt {
   background: #E3B873;
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    border-color: #E3B873;
    padding: 20px 75px 20.65px 76px;
    color: white;
    position: relative;
    font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
    }
    .vitt {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.5);
     }
  
     .tinkk {

      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      width: 100%;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      color:white;
     }

     .boxx {
    background-color: black;
    min-height: 509px;
    position: relative;
    top: 150px;
    left: 279px
     }

     .leave {
      padding: 28px;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
       color: #FFFFFF;
     }

     .texttt {
      color: white;
     }

    .formamb {
      line-height: 9;
    }

    .formam {
      padding: 0px 39px 20px;
    }

    .first-checkbox {
      padding: 0px 39px 20px;
    }

    .formamd {
      display: flex;
      justify-content: end;
      padding: 39px 49px;
    }

    .pig-item_text {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #E3B873;
      text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
     }
   
     .pig-item_circle {
       width: 66.76px;
       height: 66.76px;;
       padding: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 33px;
       background: #E3B873;
       box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
       color: #FFFFFF;
       font-family: 'Yeseva One', Georgia, Times, 'Times New Roman', serif;
       font-weight: 400;
       font-size: 18px;
       line-height: 25px;
     }
   
     .pig {
      display: flex;
      justify-content: end;
      position: relative;
      top: 71px;
      right: 157px;
     }

     .we {
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: 400;
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;
      color: #E3B873;
      }
    
      .clock_items {
      
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 52px;
      color: #FFFFFF;
      list-style: none;
      }
    
      .clock {
       background-image: url(./img/fon.jpg);
       background-size: cover;
       min-height: 864px;
       position: relative;
       position: relative;
    top: 172px;
      }
      
      .clock-overlay {
       content: "";
       position: absolute;
       top:0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 0.7);
       }
      
      .clock-container {
       position: relative;
       max-width: 1263px;
       z-index: 1;
      }
    
     .clock_items_1 {
      margin-bottom: 6px;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 38px;
      color: #E3B873;
      list-style: none;
      text-decoration: underline;
     }
    
     .notes {
      position: relative;
      top: 137px;
      width: 300px;
     }
    
     .american {
      min-height: 516px;
     }
    
     .clockclock {
      display: flex;
      justify-content: center;
      margin-top: -728px;
     }
    
     .tvtv {
      display: flex;
      justify-content: center;
      margin-top: 36px
     }
    
     .lamplamp {
      display: flex;
      justify-content: end;
      margin-top: -1011px;
     }
    
     .orhidorhid {
      display: flex;
      justify-content: end;
      margin-top: 36px;
     }
    
     .customers {
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 29px;
     text-align: center;
     color: #363636;
     }
    
     .people {
      min-height: 1109px;
      background-image: url(./img/home.jpg);
      background-size: contain;
     }
    
     .people-container {
      position: relative;
      top: 110px;
     }
    
     .ma {
      border-radius: 100px; 
     }
    
     .maria {
      display: flex;
     }
    
    .maria-item_text {
     position: relative;
     left: 24px;
     font-family: 'Yeseva One';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 23px;
     color: #181818;
    }
    .about {
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 180%;
     color: #959595;
    }
    
    .human {
      display: flex;
      justify-content: space-around;
      position: relative;
      top: 60px;
    }
    
     .box {
      margin: auto;
      position: relative;
      top: -200px;
      width: 883px;
      height: 445px;
      background-color: #131313;
     }
     .form30 {
      position: relative;
      right: 65px;
     }

     .form50 {
      position: relative;
      top: 159px;
      left: 151px;
     }

     .allall {
      display: flex;
      justify-content: space-around;
      position: relative;
      bottom: 120px;
     }

     .form40 {
        position: relative;
        top: 40px;
     }

     .formaa {
      width: 520px;
      height: 376px;
      background-color: #131313;
     }
    
     .formend {
      width: 520px;
      height: 376px;
      margin: auto;
      position: relative;
      top: 34px;
     }
     .end {
      background-image: url(./img/bild.jpg);
      background-size: cover;
      min-height: 864px;
      position: relative;
     background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);;
     }
     
     .end-overlay {
      content: "";
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
      }
     .end-container {
      position: relative;
      max-width: 1263px;
      height: 1090px;
      z-index: 1;
   
    }

    .together {
      display: flex;
      justify-content: space-between;
    }
    
    .first-checkboxx {
    position: relative;
    top: 111px;
    left: 97px
    }
    
     .shopping {
      position: relative;
      bottom: 182px;
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #E3B873;
     }
    
     .inst {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 176px;
     }
    
     .card {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 133px;
     }
    
     .footer {
      margin: -17px;
      background-color: black;
      font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
     }

     .knop {
      position: relative;
      right: 20px;
     }

     .vitt {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.5);
     }
  
     .tinkk1 {
      padding: 0px 0px 8px 0;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      width: 100%;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      color: #FFFFFF;
     }

     .textt {
      color: #fff;
     }
     
     .telek {
      display: none;
    }
    .only1 {
      display: none;
    }

    .button31 {
      display: none;
      margin: 0px;
      position: relative;
      top: 26px;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      padding: 19px 23px 20.57px 22px;
      background-color: ;
      color: white; 
      background: transparent;
      position: relative;
      font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
    }
    @media screen and (max-width: 1300px) {
      .container {
        
      }
      .header-navigation {
        display: none;
      }
      .button {
        display: none;
      }
      .header-content {
        padding: 0px 18px;
      }
      .telek {
        object-fit: cover;
        width: 340px;
        height: 241px;
        display: contents;
        display: flex;
        padding: 36px 15px;
      }
      .wall {
        position: static;
        bottom: 0px;
      }

      .bobo {
        position: relative;
        top: 3px;
        position: relative;
        bottom: 1300px;
        width: 300px;
      }

      .allall {
        display: block;
    position: relative;
    bottom: 1051px;
      }
      .bbb {
        position: relative;
    right: 69px;
      }

      .nnn {
        position: relative;
    left: 14px;
  }
  .rep {
    position: relative;
    right: 91px;
  }

      .at {
        bottom: 0px;
      }

      .fif {
        position: relative;
    top: 250px;
      }

      .rei {
        position: relative;
    top: 544px;
      }

      .hr {
        bottom: 0px;
      }
      .man {
        object-fit: cover;
        
        height: 207px;
      }



      .triangle {
        position: relative;
    top: -53px;
    transform: rotate(1deg);
        object-fit: cover;
        width: 71px;
        height: 61px;
      }
      .types {
        position: relative;
        top: 450px;
      }
  
      .hero-container {
        bottom: 100px;
        left: 18px;
      }
      .title {
        font-weight: 400;
        font-size: 23px;
        line-height: 132.83%;
      }
      .title__2 {
        font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135.84%;
        color: #FFFFFF;
      }
  
      .button__3 {
        margin: 0;
        position: relative;
        top: 26px;
      }
      .button21 {
        position: relative;
        top: 32px;
       width: 338px;
       display: flex;
       flex-direction: column;
      }
  
      .button31 {
        display: contents;
        margin: 0px;
        position: relative;
        top: 26px;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        padding: 19px 23px 20.57px 22px;
        background-color: ;
        color: white; 
        background: transparent;
        position: relative;
        font-family: "NunitoSans Light", Arial, Helvetica, sans-serif;
      }
      .hero {
        min-height: 286px;
        background-image: url(./img/hero.jpg);
        background-size: cover;
      }
  
      .rostov-navigation {
        display: none;
      }
  
      .photochair {
        display: none;
      }

      .photochair1 {
        padding: 0px 40px 15px 18px;
      }

      .chair-container {
        position: static;
      }
  
      .com {
       display: flex;
       flex-direction: column;
       align-items: center;
      }
      .title__3 {
       text-align: center;
       position: relative;
       right: 51px;
       top: 20px;
       font-size: 22px;
       line-height: 138.6%;
       text-align: center;
       letter-spacing: -0.07em;
      }
      .only {
        font-size: 11px;
        line-height: 158.48%;
        padding: 26px 30px;
        position: relative;
        right: 56px;
        text-align: center;
      }
      .ter {
        object-fit: cover;
        width: 365px;
        height: 271px;
      }
      .man-container {
       background-color: #131313;
      }
      
      .strelo {
        display: none;
      }
      .title__4 {
        text-align: center;
        position: static;
        font-size: 14px;
        line-height: 138.6%;
        text-align: center;
        letter-spacing: -0.07em;
       }
  
       .lcd {
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        padding: 0px 22px;
       }
  
       .pere {
        padding: 20px 0px;
       }
  
       .camera_1 {
        position: relative;
        right: 27px;
       }

       .go {
        position: relative;
        right: 20px;
    }
    .at {
      font-weight: 400;
      font-size: 11px;
      line-height: 169.8%; 
      color: #fff;
    }

    .forms {
      display: block;
      padding: 42px 0px 0px 49px;
    }

    .tink {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 13px;
      width: 100%;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #FFFFFF;
    }
    .vit {
      font-family: 'Nunito Sans';
   font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: rgba(255, 255, 255, 0.5);

    }
    .text {
      color: white;
     }
    
.notes {
  position: absolute;
    bottom: 814px;
    left: 50px;
    text-align: center;
}
    .windows {
      display: none;
    }

    .pig {
      display: none;
    }
    .american {
      display: none;
    }
    .qwe {
      display: none;
    }
    .people {
      display: none;
    }
    .clock {
      background-image: none;
      z-index: 2;
    }
    .clockclock {
        display: flex;
        justify-content: center;
        margin-top: -836px;
       }
      .ck {
        position: absolute;
      }
    .clock-container {
      position: relative;
      top: 353px;
    }

    .end {
      position: relative;
      top: 200px;
      
    }

    .photki {
      display: block;
      position: relative;
      top: 500px;
      line-height: 23;
    }
  
  .only {
    display: none;
  }
  .only1 {
    display: contents;
    font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 27px;
     color: #FFFFFF;
  }
  .we {
    position: relative;
    bottom: 276px;
  }
  .together {
    display: block;
  }

  .form30 {
    right: 0;
  }
  .footer {
    display: none;
  }

  .rere {
    position: relative;
    bottom: 277px;
  }
  .formend {
    position: relative;
    top: 300px;
  width: auto;
  margin: none;
  }
  .box {
    height: 1000px;
   margin: none;
   width: auto; 
  }
  .formaa {
width: auto;
padding: 0 15px 0px 12px;
  }
.first-checkboxx {
  left: 0px;
}
.buttonbut {
  padding: 18px 135px 20.65px 148px
}
.form50 {
  left: 11px;
}

.hammer {
  position: relative;
    top: 468px;
}

}
   

      
  
    
 
